{{#allmodels}}
{{#model}}
{{classname}}:
{{#vars}}
   - name: {{name}}
     datatype: {{{datatype}}}
     mandatory: {{required}}
     {{#description}}
     description: |
       {{{description}}}
     {{/description}}
{{/vars}}

{{/model}}
{{/allmodels}}
